*{background-color: burlywood;
    text-align: center;
    font-size: 40px;
    color: firebrick;}


    div.carta {
    text-align: left;
   
}

div.café {
text-align: center;

}

div.contactos {
    text-align: right;
    
    }